<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cl.detect.dao.ActionTimeScopeMapper" >
  <resultMap id="BaseResultMap" type="cn.cl.detect.domain.ActionTimeScope" >
    <constructor >
      <arg column="source" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="start_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="end_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="truncated_end_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    source,name,start_time,end_time,truncated_end_time
  </sql>
  <insert id="insert" parameterType="cn.cl.detect.domain.ActionTimeScope" >
    insert into action_time_scope (source, name, start_time, 
      end_time, truncated_end_time)
    values (#{source,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{truncatedEndTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.cl.detect.domain.ActionTimeScope" >
    insert into action_time_scope
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="source != null" >
        source,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="truncatedEndTime != null" >
        truncated_end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="truncatedEndTime != null" >
        #{truncatedEndTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="getTimeScopeBySource" parameterType="string" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from action_time_scope
    where source = #{source}
  </select>

  <select id="getStartTime" parameterType="string" resultType="date">
    select start_time
     from action_time_scope
    where source = #{source}
  </select>
</mapper>